

/*Markers and Counters*/

.markerscounters ol li::marker{
    color:red;
    /* content:counter(list-item, upper-roman);*/
    content:counters(list-item,'.*🎃*');
}

/* convert the H*n tags to list-items to add content*/

/*h3::marker{
    color:pink;
    content: '💀';
    
}
h3{
    display: list-item;
    margin-left: 1em;
}
*/

/* how to create a counter? */
body{/* iniciar desde -5 */
    counter-reset:heading2 -5;    
}

h3::marker{
    color:hotpink;
    content: counter(heading2);
}

h3{
    display: list-item;
    margin-left: 1em;
    counter-increment: heading2;
}





/*************************************************************/


.be{
    color:hotpink;
}
.bef  li {
    list-style: none;
}

.bef  li::before{
    content:'🎃'
}
/*----------------------------------------------*/

.mar{
    color:rgb(167, 47, 208);
}

.markeer ul li::marker{
    content: '🎃';
}
/*************************************************************/


.limit ul li::marker{
    content:'>>>';
    color:blueviolet;
    font-family: cursive;
    font-weight: bold;
    font-size: 1em;    
}

.limit ul li:before{
    content:'[before]';

}

.inside ul li {
    list-style-position: inside;    /* The marker CAN move INSIDE*/
    background:silver; /*The bofore, CAN'T move OUTSIDE*/
}

.limit  ul li {  
    background:silver; /*The bofore, CAN'T move OUTSIDE*/
}



/*************************************************************/




